:root {
    --bg: #121214;
    --white: #e1e1e6;
    --primary: #ff008e;
    --secondary: #ffcd1e;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

body {
    color: var(--white);
    background: var(--bg);
}